*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    background: #fff;

}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    margin: 15px;
    color: black;
    font-size: 16px;
}

.nav-links a:hover{
        color:#888;
}

.icons span{
    margin-left: 15px;
    cursor: pointer;
}

.menuicon{
    display: none;
}

/* shop all project */
.shop-header{
    padding:40px 60px;
    background:#f6f6f6;
    border-bottom:1px solid #eee;
}
.shop-title h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.breadcrumb a{
    text-decoration: none;
    color: #888;
}
.breadcrumb .home{
    color: black;
}

/* show 12 product */

.shop-products{
    padding:30px 60px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
}

.top-bar p{
    font-size:16px;
    color:#555;
}

.top-bar select{
    font-size:15px;
    padding:8px 12px;
    border:1px solid #ccc;
    background:white;
}

/* filters + products */
.filter-pic{
    display: flex;
    gap: 30px;
    padding:30px 50px;
}
.filter{
    width: 250px;
    background: #FFFAFA;

}

.filter h4{
    margin-top: 20px;
    padding: 10px 0px;
}
.category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.range{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.size-btn{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    
}

.size-btn button{
    padding: 17px ;
   /* display: grid; */
   border-radius: 10px;
}

.colors{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.colors div{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid black;
}

.black{background:black;}
.white{background:white;}
.gray{background:gray;}
.brown{background:brown;}
.blue{background:blue;}
.red{background:red;}

.clear-btn{
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.pictures{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    /* background-color: aqua; */
}
.pictures-card img{
    width:100%;
}

.pictures-card{
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
}

.pictures-card h4{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

}

.pictures-card .star{
    color: yellow;
}
.pictures-card .star span{
    color: #555;
}

.pictures-card p{
    font-size: 20px;
    font-weight: bold;
}
.rate-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate-btn button{
    padding: 10px;
    background-color: black;
    color:white;
    font-size: 15px;
    border-radius: 20px;
}

.nextpage{
grid-column: 1 / -1;
display:flex;
justify-content:center;
gap:10px;
margin-top:20px;
}
.pre-btn{
    padding: 7px;
    border-radius: 10px;

}

/* background */

.review{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    
}

.secure h4{
    font-size: 20px;
    text-align: center;
}

.secure p{
    margin-top: 10px;
    color: #555;
    font-size: small;
}

/* footer */
.footer{
    background-color: #101828;
    padding : 80px;
    border : none;
   
}
.footer-container-boxes{
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    gap: 15px;
    
}

.footer-part h2{
   
margin-bottom: 10px;

}
.footer-bot{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  font-size:10px
}

.footer-part a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgba(157, 137, 76, 0.653);
    border-radius: 10px;
    /* display: flex;
    justify-content: end; */
    margin-left: 180px;
    color: white;
    display: inline-block;
    margin-top: 10px;

}




/*  */

/* side part */
/* for tablet view */
 @media(max-width:900px){
    .nav-links{
        display: none;
    }
    .pictures{
    grid-template-columns: repeat(2,1fr);
    }
 }


 /* for mobile screen */
 @media(max-width:770px){
    .icons{
        display: none;
    }

    .menuicon{
        display: block;
    }
    .shop-header{
        padding: 25px 20px;
    }
    .shop-title h2{
        font-size: 26px;
    }

    .top-bar p{
        font-size: 14px;
    }

    .top-bar select{
    font-size:12px;
    padding:6px 10px;
    }

    .top-bar{
        justify-content: space-between;
    }
   
    /* filter  */
    .filter-pic{
    flex-direction: column;
    padding: 20px;
    }

    .filter{
    width:100%;
    }

    .pictures{
        grid-template-columns: 1fr;
    }
    
    .review{
        flex-direction: column;
        gap: 20px;
        /* justify-content: center; */
    }
    .secure{
        text-align: center;
        /* border: 1px solid gray; */
    }

     .footer{
        padding: 40px 20px;
    }
    .footer-container-boxes{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .footer-part a{
        margin-left:0px ;
    }
 }